ul.none{
    list-style-type: none;
}
ul.inline li{
    display: inline;
}
h1,h2,h3{
    text-align: center;
}
body{
    background-color: rgb(39, 35, 35);
    color: white;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
}
#about{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5%;
}
#chapter{
    margin: 20px 5%px;
    padding: 5%;
    background-color: rgb(34, 2, 34);
}
.thumbnail{
    width: 130px;
    height: 130px;
    border-radius: 30%;
    padding: 2px;
    border: 2px turquoise solid;
}
div.box{
    background-color: rgb(36, 32, 32);
    padding: 5%;
}
div.centre{
    text-align: center;
}
footer{
    background-color: rgb(28, 31, 31);
    padding: 5%;
}
.padding-0{
    padding-left: 0em;
    padding-right: 0em;
}
