ul.none{
    list-style-type: none;
}
ul.inline li{
    display: inline;
}
h1,h2,h3{
    text-align: center;
}
body{
    background-color: rgb(39, 35, 35);
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
#about{
    background-color: rgb(255, 255, 255);
    color: black;
}
#chapter{
    margin: 20px 5%px;
    background-color: rgb(41, 36, 41);
}
.thumbnail{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 2px;
    border: 2px turquoise solid;
}
div.centre{
    text-align: center;
}
footer{
    background-color: rgb(28, 31, 31);
}
footer,section{
    padding: 5%;
}
